body{
    padding-top: 44px;
}
.vn4-nav-top-login *{
	list-style: none;
	text-decoration: none;
}
.vn4-nav-top-login img{
	max-width: 100%;
}

.vn4-nav-top-login{
	background: #394959;
	z-index: 99999;
	width: 100%;
	position: fixed;
	top: 0;
}


.vn4-nav-top-login .icon-img{
	max-height: 28px;
}

.vn4-nav-top-login ul {
	height: 44px;
	margin: 0;
	padding:0;
}

.vn4-nav-top-login .sub-menu{
	display: none;
    position: absolute;
    z-index: 999999;
    background: #fff;
    min-width: 160px;
    top: 44px;
    left: 0;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .1), 0 1px 10px rgba(0, 0, 0, .35);
}
.vn4-nav-top-login .sub-menu:before{
	position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    background: #fff;
    left: 29px;
    top: -5px;
    transform: rotate(45deg);
    z-index: -1;
}

.vn4-nav-top-login .li-right .sub-menu:before{
	right: 29px;
	left: auto;
}

.vn4-nav-top-login .form-search{
	height: 28px;
	border-radius: 4px;
	padding: 0;
	margin: 8px;
}
.vn4-nav-top-login .form-search input{
	height: 28px;width:270px;padding-left: 32px;
	max-width: 100%;
}
.vn4-nav-top-login .form-search .sub-menu{
	width: 100%;
	top: 36px;
}
.vn4-nav-top-login .form-search .sub-menu p{
	text-align: center;
	margin: 5px 0px;
	line-height: 24px;
    color: #4b4f56;
}

.vn4-nav-top-login .form-search .fa{
	position: absolute;
	top: 2px;
	left: inherit;
	line-height: 24px;
	padding: 0 8px;
	margin: 0;
	border-radius: 0 4px 4px 0;
	cursor: pointer;
	color: #394959;
}
.vn4-nav-top-login .form-search .sub-menu a.active{
	color: #00b9eb;
	background: rgba(0, 0, 0, 0.5);
}
.vn4-nav-top-login .menu-admin{
	padding-left: 0;
}
.vn4-nav-top-login .sub-menu .sub-menu{
	left: 100%;
	top:0;
}
.vn4-nav-top-login .vn4-img-user{
	float: left;
	box-shadow: none;
}
.vn4-nav-top-login .li-right{
	float: right;
}
.vn4-nav-top-login .li-right .sub-menu{
	right: 0;
	left: auto;
}

.vn4-nav-top-login li:hover>.sub-menu {
	display: block;
}
.vn4-nav-top-login li:hover>.sub-menu.action-user{
	display: flex;
}
.vn4-nav-top-login .sub-menu ul{
	height: auto;
}

.vn4-nav-top-login .sub-menu li{
	padding: 0 ;
	display: block;
	float: none;
}
.vn4-nav-top-login ul li{
	height: 28px;
    display: inline-block;
    position: relative;
    float: left;
    color: #eee;
}

.vn4-nav-top-login ul li a, .vn4-nav-top-login ul li span{
	display: inline-block;
	width: 100%;
	height: 28px;
    color: #4b4f56;
    white-space: nowrap;
    overflow: hidden;
    font-size: 12px;
    line-height: 32px;
    text-overflow: ellipsis;
    padding: 0 10px;
    float: left;
}
.vn4-nav-top-login>ul>li, .vn4-nav-top-login>ul>li>span>a, .vn4-nav-top-login>ul>li>a, .vn4-nav-top-login>ul>li>span{
	height: 44px;
	line-height: 44px;
    padding: 0 4px;
    color: white;
    font-size: 14px;
}
.notify-item td{
	padding: 10px;
	background: white;
	margin: 0px;
	color: black;
	border-bottom: 1px solid #dedede !important;
	cursor: pointer;
	position: relative;
	font-size: 12px;
}
.notify-item img{
	max-width: 48px;
}
.notify-item:last-child{
	border: none;
}

.notify-item:hover td{
    background-image: linear-gradient(rgba(29, 33, 41, .04), rgba(29, 33, 41, .04));
}
.notify-item .rfloat .name{
    display: block;
    height: 20px;
    line-height: 28px;
    font-weight: bold;
    margin-top: -5px;
    padding: 0;
    font-size: 11px;
    color: rgb(0, 0, 0, 0.3);
    text-decoration: underline;
    float: none;
}
.notify-item .lfloat img{
	width: 48px;
	border-radius: 50%;
	box-shadow: none;
}
.notify-item .rfloat a{
	line-height: 18px;
}
.notify-item .rfloat{
	min-height: 60px;
	line-height: 18px;
	width: 100%;
}
.vn4-nav-top-login ul li #notify-menu a{
	display: inline;
    color: #337ab7;
    padding: 0;
    white-space:inherit;
}
.vn4-nav-top-login ul li:hover>a, .vn4-nav-top-login a:hover,.vn4-nav-top-login span:hover, .vn4-nav-top-login ul li:hover>span{
	text-decoration: none;
	color: #00b9eb;
}
.vn4-nav-top-login ul li i.fa{
    left: 10px;
    font-size: 17px;
    top: 8px;
}
.vn4-nav-top-login ul li:not(.li-right) i.fa{
	margin-right: 5px;
}

.vn4-nav-top-login ul li span.fa{
	width: auto;
	float: right;
}
.vn4-nav-top-login ul li i.fa.fa-sign-out{
    position: initial;
}
.vn4-nav-top-login .img-user {
	max-height: 28px;
	float: right;
    margin-top: 8px;
    margin-left: 5px;
}
.vn4-nav-top-login .vn4-user-image-left{
	width: 94px;
	display: inline-block;
	padding: 10px;
}
.vn4-nav-top-login .vn4-user-action-right{
	display: inline-block;
	width: 160px;
}

.notify{
    color: #fff;
    margin: auto;
    -webkit-animation-name: flash;
    animation-name: flash;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@-webkit-keyframes flash{
    0%,50%,to{
        opacity:1
    }
    25%,75%{
        opacity:0
    }
}
@keyframes flash{
    0%,50%,to{
        opacity:1
    }
    25%,75%{
        opacity:0
    }
}
.flash{
    -webkit-animation-name:flash;
    animation-name:flash
}

@media (max-width: 768px){
	.vn4-nav-top-login ul li.menu-toggle{
	    display: inline-block;
	}
	.vn4-nav-top-login ul li:not(.menu-toggle) i.fa{
		text-indent: 1px;
	}
}

