/*
.x_panel, body .container.body .right_col, footer, .x_content .tag-visual.menu-top,.x_footer,.vn4_tabs_left .content-right, .vn4_tabs_left .menu-left li, .list_object .li_object,.table-theme-location *, .quan-table, select *,select, .list-group-item, .vn4_tabs_top>.content-bottom, .vn4_tabs_top .content-bottom .tag-visual.menu-top, .vn4_tabs_left .menu-left li.active a, .table .table, #screen-meta, .content-li,.x_title, .x_content, table.aptp_input tbody tr td.td-label, .no_fields_message, .left_col, .tagsinput input{

	background: #23282d !important;

    color: white !important;

}

.main_menu .fa{

    color: white !important;

}

#sidebar-menu .nav li a{

    color: white !important;

}

.custom_scroll::-webkit-scrollbar-track, .ace_scrollbar-v::-webkit-scrollbar-track ,.ace_scrollbar-h::-webkit-scrollbar-track  {

  background: #888 !important; 

}

.custom_scroll::-webkit-scrollbar-thumb, .ace_scrollbar-v::-webkit-scrollbar-thumb, .ace_scrollbar-h::-webkit-scrollbar-thumb {

  background: #424242 !important; 

  border-radius: 15px;

}

.custom_scroll::-webkit-scrollbar-thumb:hover {

  background: #555; 

}

.advance-feature>li{

	background: rgba(255, 255, 255, 0.15);

	color: white;

}

.dropdown-menu>li>a{

	background: rgba(255, 255, 255, 0.15);

}

.nav.child_menu>li>a:hover, .nav.child_menu>li.current-page>a, .nav.side-menu>li>a:hover{

    background-color: #333333;

}

.nav.child_menu li.current-page a, .nav.side-menu>li.current-page>a{

    background-color: #43484c;

}

.contextual-help-tabs-wrap, .profile_details:not(.active) .bottom{

	color: #444;

}

.dd-item .fa, .dd-item .menu_type{

	color: #444 !important;

}

#modal-add-image .fa-folder-open, #modal-add-file .fa-folder-open{

	border: 1px solid #dedede;

}

.quan-table .my-post{

    background: #696969 !important;

}

.nav.side-menu>li>a, .nav.child_menu>li>a{

	border-color:#23282d !important;

}

body{

	overflow-x: hidden;

	color: white;

	background: #23282d;

}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{

	color: black !important;

}

.td_show_group_data_table{

	background: #636363;

}

.table>tbody>tr>td.td_show_group_data_table.active {

    color: #ffffff;

    background: #3e3e3e;

}



*{

	/*border-color: #5f5f5f !important;*/
/*
	border-color: rgba(95, 95, 95, 0.28) !important;

}

.caret{

	border-color: #337ab7 !important;

    border-right: 4px solid transparent !important;

    border-left: 4px solid transparent !important;

}

.sidebar-footer{

    background: #2d3133;

}

.sidebar-footer a{

    background: #43484c;

    color: white;

}

.tooltip.top .tooltip-arrow{

    border-top-color: #000 !important;

}

.select2-container--default .select2-selection--single .select2-selection__arrow b{

    border-color: #888 transparent transparent transparent !important;

}

.vn4_tabs_left .menu-left ul{

	background: none;

}

.vn4_tabs_left .menu-left li.active:after{

	background: #23282d;

}

.vn4-btn, .vn4-btn-white{

	box-shadow: none;

}

.ckb input[type=checkbox]{

	background: transparent !important;

}

.x_panel{

	box-shadow: none;

	border:1px solid;

}

.nav.side-menu>li:not(.active)>a:hover{

	border-right: 1px solid #5f5f5f;

}

.select2-container--default .select2-selection--single .select2-selection__rendered, .vn4_tabs_left .menu-left li.active a{

	color: white !important;

}

.select2-container--default .select2-results__option[aria-selected=true]{

    background-color: #868686 !important;

}



.table-striped>tbody>tr:nth-of-type(odd){

	background-color: transparent;

}

.list_status{

	color: black;

}

.quan-table thead th.sorting_desc:before{

	opacity: 1;

}

.action-menu{

	background-color: rgba(246, 247, 249, 0.2) !important;

}

.vn4_tabs_left .menu-left li{



}

.background-col-left{

	border-right: 1px solid #5f5f5f;

}

.nav-md .container.body .col-md-3.left_col{

	background: none;

}

.vn4-nav-top-login{

	border-bottom: 1px solid #5f5f5f;

}

.vn4_tabs_top>.menu-top>a.active, .vn4_tabs_top>.menu-top>.dropdown>a.active{

	background: rgba(255, 255, 255, 0.15);

	color: white;

}

.vn4_tabs_top>.menu-top>a.active:before, .vn4_tabs_top>.menu-top>.dropdown>a.active:before{

	background: rgb(68, 72, 76);

	bottom: 0;

}

.panel_toolbox>li>a:hover i.fa{

	color: white;

}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{

	background: transparent;

}

#screen-meta{

	border:none;

}

.emptyButton{

	background: rgba(255, 255, 255, 0.15) !important;

	color: white;

}

.vn4-bg-trans table{

	background-color: transparent;

}

.x_content table thead{

	background: transparent !important;

}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ 

  color: white !important;

  opacity: .5 !important; /* Firefox */

/*}

.form-control:not(#image_link):not([type=checkbox]), .relationship_nn, .select2-container--default .select2-selection--single, .tagsinput, .show-many-record, input[type=checkbox]{

	background-color: rgba(255, 255, 255, 0.15) !important;

	color: white !important;

}

.select2-dropdown{

	background: #5f5f5f !important;

}

#newfeed>*{

	background: transparent;

    border: 1px solid #5f5f5f;

}

.table>tbody>tr.active>td, .table>tbody>tr.active>th, .table>tbody>tr>td.active, .table>tbody>tr>th.active, .table>tfoot>tr.active>td, .table>tfoot>tr.active>th, .table>tfoot>tr>td.active, .table>tfoot>tr>th.active, .table>thead>tr.active>td, .table>thead>tr.active>th, .table>thead>tr>td.active, .table>thead>tr>th.active{

	background-color: transparent;

}*/
svg{
	fill: white;
}
.google-visualization-table-tr-odd, .google-visualization-table-table, .google-visualization-table-tr-even, .google-visualization-table-tr-head, .google-visualization-table .gradient{
	background: transparent !important;
}
[data-darkreader-inline-fill]{
	background: black !important;
}
.google-visualization-table-table th{
	border: none !important;
}
.google-visualization-tooltip{
	background: rgb(24,26,27) !important;
}
.google-visualization-table-table{
	overflow: hidden;
}