@font-face {
    font-family: 'Shinhan';
    src: url('Shinhan-Medium.eot');
    src: url('Shinhan-Medium.eot?#iefix') format('embedded-opentype'),
        url('Shinhan-Medium.woff2') format('woff2'),
        url('Shinhan-Medium.woff') format('woff'),
        url('Shinhan-Medium.ttf') format('truetype'),
        url('Shinhan-Medium.svg#Shinhan-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Shinhan';
    src: url('Shinhan-Bold.eot');
    src: url('Shinhan-Bold.eot?#iefix') format('embedded-opentype'),
        url('Shinhan-Bold.woff2') format('woff2'),
        url('Shinhan-Bold.woff') format('woff'),
        url('Shinhan-Bold.ttf') format('truetype'),
        url('Shinhan-Bold.svg#Shinhan-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Shinhan';
    src: url('Shinhan-Light.eot');
    src: url('Shinhan-Light.eot?#iefix') format('embedded-opentype'),
        url('Shinhan-Light.woff2') format('woff2'),
        url('Shinhan-Light.woff') format('woff'),
        url('Shinhan-Light.ttf') format('truetype'),
        url('Shinhan-Light.svg#Shinhan-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Shinhan';
    src: url('Shinhan-Bold_1.eot');
    src: url('Shinhan-Bold_1.eot?#iefix') format('embedded-opentype'),
        url('Shinhan-Bold_1.woff2') format('woff2'),
        url('Shinhan-Bold_1.woff') format('woff'),
        url('Shinhan-Bold_1.ttf') format('truetype'),
        url('Shinhan-Bold_1.svg#Shinhan-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Shinhan';
    src: url('Shinhan-Light_1.eot');
    src: url('Shinhan-Light_1.eot?#iefix') format('embedded-opentype'),
        url('Shinhan-Light_1.woff2') format('woff2'),
        url('Shinhan-Light_1.woff') format('woff'),
        url('Shinhan-Light_1.ttf') format('truetype'),
        url('Shinhan-Light_1.svg#Shinhan-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Shinhan';
    src: url('Shinhan-Medium_1.eot');
    src: url('Shinhan-Medium_1.eot?#iefix') format('embedded-opentype'),
        url('Shinhan-Medium_1.woff2') format('woff2'),
        url('Shinhan-Medium_1.woff') format('woff'),
        url('Shinhan-Medium_1.ttf') format('truetype'),
        url('Shinhan-Medium_1.svg#Shinhan-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

