@mixin flex-center-between{
	display: flex;
    align-items: center;
    justify-content: space-between;
}
@mixin flex-center-xy{
	display: flex;
    align-items: center;
    justify-content: center;
}
@mixin flex-center-y{
	display: flex;
    align-items: center;
}
@mixin flex-center-x{
	display: flex;
    justify-content: center;
}
@mixin icon($img,$width,$height){
	display: inline-block;
    vertical-align: middle;
    background-image: $img;
	width: $width;
	height: $height;
	background-size: contain;
}


.icon-address{
	@include icon(url(../img/icon/pin-address.svg), 20px, 20px);
}

.icon-phone{
	@include icon(url('../img/icon/red-phone-icon-png-5.png'), 20px, 20px);
}


.icon-clock-red{
	@include icon(url('../img/icon/clock-red.png'), 20px, 20px);
}
.icon-search-red{
	@include icon(url('../img/icon/icon-search-red.png'), 20px, 20px);
}
.icon-user-red{
	@include icon(url('../img/icon/icon-user-red.png'), 20px, 20px);
}
.icon-cart-red{
	@include icon(url('../img/icon/icon-cart-red.png'), 20px, 20px);
}

.btn{
	height: 50px;
	border: none;
	outline: none;
	border-radius: 0;
	background: #dd3d53;
	line-height: 50px;
	padding: 0 20px;
	text-decoration: none;
	color: white;
	font-size: 15px;
	font-weight: bold;
}

%header-on-top1{
	background: #333333;
	height: 43px;
	@include flex-center-y;
	> .container{
		@include flex-center-between;
		> .left{
			@include flex-center-y;
			> *{
				color: white;
				margin-right: 20px;
				display: block;
				font-size: 14px;
				i{
					margin-right: 5px;
				}

			}
			a{
				text-decoration: none;
			}
		}
		> .right{
			@include flex-center-y;
			> * {
				color: white;
				margin-right: 20px;
				display: block;
				font-size: 14px;
				i{
					margin-right: 5px;
					
				}
			}
		}
	}
}

%header1{
	background: white;
	box-shadow: 0 0 9px #0000004d;
	>.container{
		@include flex-center-between;
		height: 100px;
		.logo{
			img{
				height: 60px;
			}
		}
		nav ul{
			@include flex-center-y;
			li{
				margin: 0 20px;
			}
			a{
			    text-decoration: none;
    			color: black;
    			font-weight: bold;
    			&:hover{
    				text-decoration: underline;
    			}
			}
		}
	}
}