.input-radio{
    font-size: $label-size;
    color: rgb(51, 51, 51);
    margin-right: 15px;
    display: flex;
    align-items: center;
    .fake,
    .radio-fake {
        cursor: pointer;
        width: 24px;
        height: 24px;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        z-index: 1;
        color: rgb(120, 120, 120);
        flex-shrink: 0;
        border-width: 1px;
        border-style: solid;
        border-color: $blue;
        border-image: initial;
        border-radius: 50%;
        margin-right:10px;
        opacity: 0.4;

        &:before {
            content: "";
            position: absolute;
            left: 4px;
            top: 4px;
            width: 14px;
            height: 14px;
            background-color: $blue;
            transform: scale(0);
            border-radius: 50%;
            transition: transform 0.3s ease 0s;
        }
    }
    input {
        position: absolute;
        height: 1px;
        width: 1px;
        visibility: hidden;
        clip: rect(0px, 0px, 0px, 0px);
        opacity: 0;
        &:checked + .fake,
        &:checked + .radio-fake {
            border-color: $blue;
            opacity: 1;
            &:before {
                transform: scale(1);
            }
        }
    }
    .label {
        font-size: $label-size;
        line-height: 20px;
    }
}

.input-checkbox{
    display: flex;
    align-items: center;
    font-size: $label-size;
    .fake,
    .checkbox-fake {
        width: 18px;
        height: 18px;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        z-index: 1;
        color: rgb(120, 120, 120);
        border-width: 1px;
        border-style: solid;
        border-color: $blue;
        border-image: initial;
        margin: 0px 12px 0px 0px;
        &:before {
            content: "";
            display: block;
            position: absolute;
            left: 2px;
            top: 3px;
            width: 12px;
            height: 6px;
            transform: scale(0) rotate(-45deg);
            border-left: 2px solid rgb(255, 255, 255);
            border-bottom: 2px solid rgb(255, 255, 255);
            transition: transform 0.3s ease 0s;
        }
    }
    input{
        position: absolute;
        height: 1px;
        width: 1px;
        visibility: hidden;
        clip: rect(0px, 0px, 0px, 0px);
        opacity: 0;
        &:checked + .fake,
        &:checked + .checkbox-fake {
            background-color: rgb(27, 168, 255);
            border-color: rgb(27, 168, 255);
            &:before {
                transform: scale(1) rotate(-45deg);
            }
        }
    }
    .label {
        font-size: $label-size;
        line-height: 20px;
        display: inline-block;
        vertical-align: middle;
    }

}

.label,
.input-label {
    font-size: 13px;
    color: rgb(51, 51, 51);
}
.form-control {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px 0px 15px;
    @mixin focus{
        &:focus{
            border-color: $blue
        }
    }
    // > div {
    //     display: flex;
    //     position: relative;
    //     z-index: 1;
    //     flex: 1 1 0%;
    // }
    input {
        flex: 1;
        height: 34px;
        line-height: 34px;
        transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s, -webkit-box-shadow 0.15s ease-in-out 0s;
        border-width: 1px;
        border-style: solid;
        border-color: rgb(204, 204, 204);
        border-image: initial;
        border-radius: 4px;
        padding: 6px 12px;
        outline: none;
        @include focus;
    }
    select {
        width: 100px;
        height: 34px;
        line-height: 34px;
        box-shadow: none;
        border-width: 1px;
        border-style: solid;
        border-color: rgb(204, 204, 204);
        border-image: initial;
        padding: 6px 12px;
        outline: none;
        border-radius: 4px;
        
        background: 0px center;
        @include focus;
    }
    .btn{
        height: 34px;
    }
    .input-group{
        // display: flex;
        input{
            border-radius: 4px 0px 0px 4px;
            text-align: left;
        }
        .btn{
            border-radius: 0px 4px 4px 0px;
        }
    }
    
    textarea {
        flex: 1;
        border-width: 1px;
        border-style: solid;
        border-color: rgb(204, 204, 204);
        border-image: initial;
        border-radius: 4px;
        padding: 6px 12px;
        font: 400 13.3333px Arial;
        @include focus;
    }
}
.form{
    &.verticle{
        .form-control{
            flex-wrap: wrap;
        }
        .label,
        .input-label{
            width: 100%;
            margin-bottom: 10px;
        }
    }
}